<% if @poet.errors.any? %>
  <% @poet.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit poet #<%= @poet.id %>
</h1>

<hr>

<form action="/update_poet/<%= @poet.id %>" method="post">

  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :bout_id, @poet.team_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update poet
  </button>
</form>

<hr>

<a href="/poets">
  Go back
</a>
