<h1>
  Add a new poet
</h1>


<hr>

<!-- Form poet start -->
<form action="/create_poet" method="post">
<!-- Form poet end -->

  <!-- Label and input for team_id start -->
  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <!-- Input for team_id start -->
    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :bout_id, @poet.team_id), :class => "form-control") %>
    <!-- Input for team_id end -->
  </div>
  <!-- Label and input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create poet
  </button>
</form>

<hr>

<a href="/poets">
  Go back
</a>
