<% if @school.errors.any? %>
  <% @school.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit school #<%= @school.id %>
</h1>

<hr>

<form action="/update_school/<%= @school.id %>" method="post">

  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :bout_id, @school.team_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update school
  </button>
</form>

<hr>

<a href="/schools">
  Go back
</a>
