<h1>
  Edit level semi #<%= @level_semi.id %>
</h1>

<hr>

<form action="/update_level_semi/<%= @level_semi.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update level semi
  </button>
</form>

<hr>

<a href="/level_semis">
  Go back
</a>
