<h1>
  Add a new level semi
</h1>


<hr>

<form action="/create_level_semi" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create level semi
  </button>
</form>

<hr>

<a href="/level_semis">
  Go back
</a>
