<h1>
  Add a new coach
</h1>


<hr>

<!-- Form coach start -->
<form action="/create_coach" method="post">
<!-- Form coach end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <!-- Input for first_name start -->
    <input type="text" id="first_name" name="first_name" class="form-control">
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <!-- Label and input for last_name start -->
  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <!-- Input for last_name start -->
    <input type="text" id="last_name" name="last_name" class="form-control">
    <!-- Input for last_name end -->
  </div>
  <!-- Label and input for last_name end -->

  <!-- Label and input for team_id start -->
  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <!-- Input for team_id start -->
    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :bout_id, @coach.team_id), :class => "form-control") %>
    <!-- Input for team_id end -->
  </div>
  <!-- Label and input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create coach
  </button>
</form>

<hr>

<a href="/coaches">
  Go back
</a>
