<h1>
  Edit level quarter #<%= @level_quarter.id %>
</h1>

<hr>

<form action="/update_level_quarter/<%= @level_quarter.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update level quarter
  </button>
</form>

<hr>

<a href="/level_quarters">
  Go back
</a>
