<h1>
  Add a new level quarter
</h1>


<hr>

<form action="/create_level_quarter" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create level quarter
  </button>
</form>

<hr>

<a href="/level_quarters">
  Go back
</a>
