<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaches

    <a data-toggle="collapse" href="#team_coaches_new_form">
      Add coach
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @team.coaches.each do |coach| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coaches/<%= coach.id %>">
          <%= coach.first_name %>
        </a>

        <a href="/delete_coach_from_team/<%= coach.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="team_coaches_new_form">
        <%= render partial: "team_templates/team_coaches_new_form" %>
      </div>
    </div>

  </ul>
</div>
