<!-- Form coach start -->
<form action="/create_coach_from_team" method="post">
<!-- Form coach end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <!-- Input for first_name start -->
    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @coach.first_name %>">
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <!-- Label and input for last_name start -->
  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <!-- Input for last_name start -->
    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @coach.last_name %>">
    <!-- Input for last_name end -->
  </div>
  <!-- Label and input for last_name end -->

  <!-- Label and input for team_id start -->
  <!-- Input for team_id start -->
  <input type="hidden" name="team_id" value="<%= @team.id %>">
  <!-- Input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create coach
  </button>
</form>
