<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Poets

    <a data-toggle="collapse" href="#team_poets_new_form">
      Add poet
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @team.poets.each do |poet| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/poets/<%= poet.id %>">
          <%= poet.team_id %>
        </a>

        <a href="/delete_poet_from_team/<%= poet.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="team_poets_new_form">
        <%= render partial: "team_templates/team_poets_new_form" %>
      </div>
    </div>

  </ul>
</div>
