<!-- Form poet start -->
<form action="/create_poet_from_team" method="post">
<!-- Form poet end -->

  <!-- Label and input for team_id start -->
  <!-- Input for team_id start -->
  <input type="hidden" name="team_id" value="<%= @team.id %>">
  <!-- Input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create poet
  </button>
</form>
