<form action="/create_poet_from_team" method="post">

  <input type="hidden" name="team_id" value="<%= @team.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create poet
  </button>
</form>
