<h1>
  Add a new team
</h1>


<hr>

<!-- Form team start -->
<form action="/create_team" method="post">
<!-- Form team end -->

  <!-- Label and input for bout_id start -->
  <div class="form-group">
    <label for="bout_id">
      Bout
    </label>

    <!-- Input for bout_id start -->
    <input type="text" id="bout_id" name="bout_id" class="form-control">
    <!-- Input for bout_id end -->
  </div>
  <!-- Label and input for bout_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create team
  </button>
</form>

<hr>

<a href="/teams">
  Go back
</a>
