<h1>
  Add a new level final
</h1>


<hr>

<!-- Form level_final start -->
<form action="/create_level_final" method="post">
<!-- Form level_final end -->

  <button class="btn btn-block btn-outline-secondary">
    Create level final
  </button>
</form>

<hr>

<a href="/level_finals">
  Go back
</a>
